@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
:root{
    --White: hsl(0, 0%, 100%);
    --bg-page: hsl(30, 54%, 90%);
    --line-break: hsl(30, 18%, 87%);
    --text: hsl(30, 10%, 34%);
    --title: hsl(24, 5%, 18%);
    --head-two: hsl(14, 45%, 36%);
    --rose-dark: hsl(332, 51%, 32%);
    --bg-in-card: hsl(330, 100%, 98%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-page);
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    color:var(--text);
    line-height: 1.4;
}
.wrapper-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center ;
}

.container{
    background-color: var(--White);
    max-width: 700px;
    width: 100%;
    padding: 30px;
    border-radius: 40px;
}
.img{
    display: block;
    width:100%;
    border-radius: 20px;
}
h1,h2{
    font-family: "Young Serif", serif;
    font-weight: 400;
}
h1{
    color:var(--title);
    font-size: 2.5rem;
}
h2{
    color: var(--head-two);
    margin: 20px 0 10px ;
}
span{
    font-weight: bold;
}
hr{
    border: 1px solid var(--line-break);
    margin-top: 20px;
}
li{
    margin-left: 20px;
    padding: 10px 0 0 15px;
}
.time{
    background-color: var(--bg-in-card);
    padding: 20px 30px;
    border-radius: 10px;
}
.time h4,.time li::marker{
    color: var(--rose-dark);
}
table{
    width: 100%;
    border-collapse: collapse;
}
table tr{
    border-bottom: 1px solid  var(--line-break);
}
table td{
    padding: 10px 0;
}
table td:last-child{
    color: var(--head-two);
    font-weight: bold;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media (max-width:375px){
    body{
        display: block;
        margin: 0;
    }
    .container{
        border-radius: 0;
        padding: 0;
    }
    .img{
        border-radius: 0;
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        display: block;
    }
    .content{
        padding: 24px;
    }
}